---
# left here for the day I decide I want to switch back to installing from source
#
# - name: clone kakoune repo
#   ansible.builtin.git:
#     repo: "https://github.com/mawww/kakoune.git"
#     dest: "~/vc/kakoune"
#     update: no
#
# - name: build kakoune
#   ansible.builtin.command: make
#   args:
#     chdir: "~/vc/kakoune"
#     creates: "~/vc/kakoune/src/kak"

- name: get path to kak executable
  shell: which kak
  register: kak_path_result

- name: set path to kak autoload
  set_fact:
    kak_autoload: "{{ [kak_path_result.stdout, '..', '..', 'share', 'kak', 'autoload' ] | path_join | realpath }}"

- name: clone kakoune plugin repos
  ansible.builtin.git:
    repo: "{{ item.src }}"
    dest: "~/.config/kak/autoload/plugins/{{ item.dest }}"
    force: true
  loop:
    - src: "https://github.com/alexherbo2/auto-pairs.kak.git"
      dest: auto-pairs.kak
    - src: "https://gitlab.com/Screwtapello/kakoune-shellcheck.git"
      dest: kakoune-shellcheck
    - src: "https://github.com/occivink/kakoune-find"
      dest: kakoune-find
    - src: "https://bitbucket.org/KJ_Duncan/kakoune-plantuml.kak"
      dest: kakoune-plantuml
    - src: "https://github.com/occivink/kakoune-sort-selections"
      dest: kakoune-sort-selections

- name: symlink kakoune files
  ansible.builtin.file:
    src: "{{ kak_autoload }}"
    dest: ~/.config/kak/autoload/kak_official
    state: link
