---
- name: Install stow and git
  ansible.builtin.package:
    name:
      - stow
      - git
    state: present
  become: "{{ 'false' if ansible_facts['pkg_mgr'] == 'homebrew' else 'true' }}"

- name: Ensure dotfiles repository is cloned locally
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_repo_local_destination }}"

- name: Set dotfiles directories to deploy
  ansible.builtin.set_fact:
    dotfiles_dirs:
      - dotfiles_shared
      - "{{ 'dotfiles_macos' if ansible_facts['os_family'] == 'Darwin' else '' }}"
      - "{{ 'dotfiles_linux' if ansible_facts['os_family'] == 'Archlinux' else '' }}"

- name: Deploy dotfiles from each directory
  include_tasks: stow_directory.yml
  # filters out any empty items from dotfiles_dirs
  loop: "{{ dotfiles_dirs | select | list }}"
  loop_control:
    loop_var: dotfiles_subdir
