---
- name: Install required packages
  ansible.builtin.package:
    name:
      - stow
      - git
      - yamllint
    state: present
  become: "{{ 'false' if ansible_facts['pkg_mgr'] == 'homebrew' else 'true' }}"

- name: Ensure certain directories exist so that stow does not turn them into symlinks
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - ".config/fish"
    - ".local/share/applications"


- name: Ensure dotfiles repository is cloned locally
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_repo_local_destination }}"

- name: Set dotfiles directories to deploy
  ansible.builtin.set_fact:
    dotfiles_dirs:
      - dotfiles_shared
      - "{{ 'dotfiles_macos' if ansible_facts['os_family'] == 'Darwin' else '' }}"
      - "{{ 'dotfiles_linux' if ansible_facts['os_family'] == 'Archlinux' else '' }}"

- name: Deploy dotfiles from each directory
  include_tasks: stow_directory.yml
  # filters out any empty items from dotfiles_dirs
  loop: "{{ dotfiles_dirs | select | list }}"
  loop_control:
    loop_var: dotfiles_subdir

- name: Add ~/bin to fish PATH
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/fish/config.fish"
    block: |
      # Add user bin directory to PATH
      fish_add_path {{ ansible_facts['env']['HOME'] }}/bin
    marker: "# {mark} ANSIBLE MANAGED BLOCK - user bin path"
    create: yes
