---
- name: Install packages
  ansible.builtin.package:
    name:
      - xdg-desktop-portal-gtk
      - xdg-desktop-portal-gnome
      - gnome-keyring
      - niri
      - pipewire-pulse
      - pipewire-alsa
      - pipewire-jack
      - pipewire-zeroconf
      - kitty
      - swaylock
      - swayidle
      - xwayland-satellite
      - mako
      - libnotify
      - papirus-icon-theme
      - fuzzel
      - waybar
      - otf-font-awesome
      - bluez
      - bluez-utils
      - wl-clipboard
      - galculator
      - flameshot
      - ttf-jetbrains-mono-nerd
      - noto-fonts-emoji
      - gvfs-smb
      - polkit-gnome

      # Used for kakoune suspend-and-resume
      - wtype

      # needed for localsend AUR package install
      - fvm
      - llvm
      - patchelf
      - rustup
    state: present
  become: true

- name: Install AUR packages
  kewlfft.aur.aur:
    name:
      - lidm-bin
      - otf-san-francisco
      - google-chrome
      - google-chrome-beta
      - 1password
      - 1password-cli
      - wluma
      - uair
      - localsend
      - bemoji-git
      - pinta
      - handy-bin
  become: true
  become_user: aur_builder
  when: ansible_facts['os_family'] == 'Archlinux'

- name: Create lidm systemd service file
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=TUI display manager
      After=systemd-user-sessions.service plymouth-quit-wait.service

      [Service]
      Type=idle
      ExecStart=/usr/bin/lidm 7
      StandardInput=tty
      StandardOutput=tty
      StandardError=tty
      TTYPath=/dev/tty7
      TTYReset=yes
      TTYVHangup=yes

      [Install]
      Alias=display-manager.service
    dest: /etc/systemd/system/lidm.service
    mode: "0644"
    owner: root
    group: root
  notify: reload systemd

- name: Enable lidm service
  systemd_service:
    name: lidm
    enabled: yes
    daemon_reload: yes
  become: true

- name: Enable bluetooth service
  systemd_service:
    name: bluetooth
    enabled: true
    daemon_reload: true
  become: true

- name: Create polkit-gnome-agent user service
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=Polkit GNOME Authentication Agent
      PartOf=graphical-session.target
      After=graphical-session.target

      [Service]
      Type=simple
      ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
      Restart=on-failure

      [Install]
      WantedBy=graphical-session.target
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/systemd/user/polkit-gnome-agent.service"
    mode: "0644"

- name: Enable polkit-gnome-agent when niri starts up
  shell: systemctl --user add-wants niri.service polkit-gnome-agent.service
  args:
    creates: ~/.config/systemd/user/niri.service.wants/polkit-gnome-agent.service

- name: Enable mako when niri starts up
  shell: systemctl --user add-wants niri.service mako.service
  args:
    creates: ~/.config/systemd/user/niri.service.wants/mako.service

- name: Enable waybar when niri starts up
  shell: systemctl --user add-wants niri.service waybar.service
  args:
    creates: ~/.config/systemd/user/niri.service.wants/waybar.service

- name: Enable uair when user session stats
  shell: systemctl --user enable uair
  args:
    creates: ~/.config/systemd/user/default.target.wants/uair.service


- name: Ensure user has required groups for waybar
  user:
    name: matt
    append: true
    groups: input
