---
- name: Install packages
  ansible.builtin.package:
    name:
      - xdg-desktop-portal-gtk
      - xdg-desktop-portal-gnome
      - gnome-keyring
      - niri
      - pipewire-pulse
      - pipewire-alsa
      - pipewire-jack
      - alacritty
      - swaylock
      - xwayland-satellite
      - mako
      - libnotify
      - papirus-icon-theme
      - fuzzel
      - waybar
      - otf-font-awesome
      - bluez
      - bluez-utils
      - wl-clipboard
      - galculator
      - flameshot
      - ttf-jetbrains-mono-nerd

      # Used for kakoune suspend-and-resume
      - wtype

      # needed for localsend AUR package install
      - fvm
      - llvm
      - patchelf
      - rustup
    state: present
  become: true

- name: Install AUR packages
  kewlfft.aur.aur:
    name:
      - lidm-bin
      - otf-san-francisco
      - google-chrome
      - 1password
      - 1password-cli
      - wluma
      - uair
      - localsend
  when: ansible_facts['os_family'] == 'Archlinux'

- name: Create lidm systemd service file
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=TUI display manager
      After=systemd-user-sessions.service plymouth-quit-wait.service

      [Service]
      Type=idle
      ExecStart=/usr/bin/lidm 7
      StandardInput=tty
      StandardOutput=tty
      StandardError=tty
      TTYPath=/dev/tty7
      TTYReset=yes
      TTYVHangup=yes

      [Install]
      Alias=display-manager.service
    dest: /etc/systemd/system/lidm.service
    mode: "0644"
    owner: root
    group: root
  notify: reload systemd

- name: Enable lidm service
  systemd_service:
    name: lidm
    enabled: yes
    daemon_reload: yes
  become: true

- name: Enable bluetooth service
  systemd_service:
    name: bluetooth
    enabled: true
    daemon_reload: true
  become: true

- name: Enable mako when niri starts up
  shell: systemctl --user add-wants niri.service mako.service
  args:
    creates: ~/.config/systemd/user/niri.service.wants/mako.service

- name: Enable waybar when niri starts up
  shell: systemctl --user add-wants niri.service waybar.service
  args:
    creates: ~/.config/systemd/user/niri.service.wants/waybar.service

- name: Enable uair when user session stats
  shell: systemctl --user enable uair
  args:
    creates: ~/.config/systemd/user/default.target.wants/uair.service


- name: Ensure user has required groups for waybar
  user:
    name: matt
    append: true
    groups: input

- name: Setup Alacritty themes
  ansible.builtin.git:
    repo: https://github.com/alacritty/alacritty-theme.git
    dest: ~/.config/alacritty/themes
