{
    "download-dir": "{{ instance.base_path }}/downloads",
    "incomplete-dir": "{{ instance.base_path }}/incomplete",
    "incomplete-dir-enabled": true,
    "watch-dir": "{{ instance.base_path }}/torrents",
    "watch-dir-enabled": true,
    "rpc-enabled": true,
    "rpc-port": {{ instance.rpc_port }},
    "rpc-bind-address": "0.0.0.0",
    "rpc-whitelist-enabled": false,
    "rpc-host-whitelist-enabled": false,
    "rpc-authentication-required": false,
    "peer-port": {{ instance.peer_port }},
    "port-forwarding-enabled": true,
    "encryption": 1,
    "dht-enabled": true,
    "pex-enabled": true,
    "lpd-enabled": true,
    "umask": "002",
    "ratio-limit-enabled": false
}
