---
- name: Install common packages
  ansible.builtin.package:
    name:
      - tree
      - shellcheck
      - kakoune
      - kakoune-lsp
      - mise
      - man-db
      - less
      - patch
      - nnn
      - clang
      - cargo
      - marked-man

      # needed for makepkg to work
      - fakeroot
      - debugedit

      # system tools
      - etckeeper
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Archlinux'
  tags: packages
