---
- name: Install common packages
  ansible.builtin.package:
    name:
      # dev tools
      - git
      - tig
      - tree
      - shellcheck
      - kakoune
      - kakoune-lsp
      - mise
      # needed for makepkg to work
      - fakeroot
      - debugedit

      # system tools
      - etckeeper
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Archlinux'
  tags: packages

