---
- name: Install packages
  ansible.builtin.package:
    name:
      - system76-firmware
    state: present
  become: true

- name: Install AUR packages
  kewlfft.aur.aur:
    name:
      - lidm-bin
      - otf-san-francisco
      - google-chrome
      - 1password
      - 1password-cli
      - wluma
  when: ansible_facts['os_family'] == 'Archlinux'

