- name: Install zeroconf packages
  ansible.builtin.package:
    name:
      - avahi
      - nss-mdns
    state: present
  become: true

- name: Enable avahi service
  ansible.builtin.systemd_service:
    name: avahi-daemon
    enabled: true
    state: started
    daemon_reload: true
  become: true

- name: Configure hostname resultion to use zeroconf
  become: true
  ansible.builtin.lineinfile:
    path: /etc/nsswitch.conf
    backrefs: true
    state: present
    regexp: '^(hosts:(?!.*mdns_minimal).*) resolve\s?(.*)$'
    line: '\1 mdns_minimal [NOTFOUND=return] resolve \2'
    backup: true

- name: Configure workstation publishing in avahi
  become: true
  ansible.builtin.lineinfile:
    path: /etc/avahi/avahi-daemon.conf
    regexp: '^#?\s*publish-workstation='
    line: 'publish-workstation={{ zeroconf_publish_workstation }}'
    state: present

- name: Deploy avahi-cname systemd template unit
  become: true
  ansible.builtin.template:
    src: avahi-cname@.service.j2
    dest: /etc/systemd/system/avahi-cname@.service
    owner: root
    group: root
    mode: '0644'
  when: zeroconf_cnames | length > 0

- name: Reload systemd daemon for CNAME services
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
  when: zeroconf_cnames | length > 0

- name: Enable and start avahi-cname services
  become: true
  ansible.builtin.systemd_service:
    name: "avahi-cname@{{ item }}"
    enabled: true
    state: started
  loop: "{{ zeroconf_cnames }}"
