---
- name: Install packages
  ansible.builtin.package:
    name:
      - fx
      - meld
    state: present
  become: true

- name: Install AUR packages
  kewlfft.aur.aur:
    name:
      - slack-desktop
  when: ansible_facts['os_family'] == 'Archlinux'

