---
- name: Install packages
  ansible.builtin.package:
    name:
      - fx
      - meld
      - editorconfig-core-c
      - github-cli
      - docker
      - docker-compose
    state: present
  become: true

- name: Install AUR packages
  kewlfft.aur.aur:
    name:
      - slack-desktop
      - playwright
      - claude-code
  become: true
  become_user: aur_builder
  when: ansible_facts['os_family'] == 'Archlinux'

- name: Ensure user has required groups for docker
  become: true
  user:
    name: matt
    append: true
    groups: docker
